# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Streamlit cache
.streamlit/

# OS files
.DS_Store

# IDE/project files
.vscode/
.idea/

# Other
*.log